lapx==0.5.11.post1
matplotlib==3.10.5
matplotlib-inline==0.1.7
moviepy==2.2.1
numpy==2.2.6
opencv-python-headless
pandas==2.3.1
pillow==11.3.0
scipy==1.16.1
streamlit==1.48.1
supervision==0.26.1
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
ultralytics==8.3.179
ultralytics-thop==2.0.15

